<!DOCTYPE html>
<html>
<head>
	<title>Explore vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
	<script type="module" src="app.js" defer></script>
</head>
<body>
	<div id="app">
		{{ message }}
	</div>
	<div id="app2">
		<span v-bind:title='message'>
			Hover on me for a few seconds to see dynamically
			bound title
		</span>
	</div>
	<div id="app3">
		<span v-if='seen'>Now you see me</span>
	</div>
	<dir id="app4">
		<ol>
			<li v-for='todo in todos'>
				{{ todo.text }}
			</li>
		</ol>
	</dir>
	<div id="app5">
		{{ message }}
		<button v-on:click='reverseMessage'>Reverse message</button>
	</div>
	<div id="app6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<div id="app7">
		<ol>
			<todo-item
				v-for='item in groceryList'
				v-bind:todo='item'
				v-bind:key='item.id'
			>
			</todo-item>
		</ol>
	</div>
</body>
</html>