<!DOCTYPE html>
<html>
<head>
  <title>Explore vue!</title>
  <meta charset="utf-8">
  <script type="text/javascript" defer src="build/index.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="users">
    <button v-on:click='toggleUsers' v-cloak>{{ showUsersText }}</button>
    <p v-if='shouldShowUsers' v-cloak>{{ usersLength }}</p>
    <table v-if="shouldShowUsers">
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Patronym</th>
        <th>Profile photo</th>
      </tr>
      <tr v-for='user in users' v-bind:key='user.id'>
        <td>{{ user.lastname }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.patronym }}</td>
        <td>{{ user.photo }}</td>
      </tr>
    </table>
  </div>
</body>
</html>